<form class="form">
  <h2>Tell us what you think about your rubber duck!</h2>
  <div class="form__group">
    <h3>What would you say that are the best features of your rubber duck?</h3>
    <ul>
      <li>
        <label
          ><input name="bestFeatures" type="checkbox" value="colour" />It's
          yellow!</label
        >
      </li>
      <li>
        <label
          ><input name="bestFeatures" type="checkbox" value="sound" />It
          squeaks!</label
        >
      </li>
      <li>
        <label
          ><input name="bestFeatures" type="checkbox" value="logo" />It has a
          logo!</label
        >
      </li>
      <li>
        <label
          ><input name="bestFeatures" type="checkbox" value="size" />Its
          big!</label
        >
      </li>
    </ul>
  </div>
  <div class="form__group">
    <h3>What would you say that are the worst bits of your rubber duck?</h3>
    <ul>
      <li>
        <label
          ><input name="worstFeatures" type="checkbox" value="colour" />It's
          yellow!</label
        >
      </li>
      <li>
        <label
          ><input name="worstFeatures" type="checkbox" value="sound" />It
          squeaks!</label
        >
      </li>
      <li>
        <label
          ><input name="worstFeatures" type="checkbox" value="logo" />It has a
          logo!</label
        >
      </li>
      <li>
        <label
          ><input name="worstFeatures" type="checkbox" value="size" />Its
          big!</label
        >
      </li>
    </ul>
  </div>
  <div class="form__group radio">
    <h3>How do you rate your rubber duck consistency?</h3>
    <ul>
      <li>
        <input
          id="consistency1"
          type="radio"
          name="consistency"
          value="1"
        /><label for="consistency1">1</label>
      </li>
      <li>
        <input
          id="consistency2"
          type="radio"
          name="consistency"
          value="2"
        /><label for="consistency2">2</label>
      </li>
      <li>
        <input
          id="consistency3"
          type="radio"
          name="consistency"
          value="3"
        /><label for="consistency3">3</label>
      </li>
      <li>
        <input
          id="consistency4"
          type="radio"
          name="consistency"
          value="4"
        /><label for="consistency4">4</label>
      </li>
    </ul>
  </div>
  <div class="form__group radio">
    <h3>How do you rate your rubber duck colour?</h3>
    <ul>
      <li>
        <input id="color1" type="radio" name="consistency" value="1" /><label
          for="color1"
          >1</label
        >
      </li>
      <li>
        <input id="color2" type="radio" name="consistency" value="2" /><label
          for="color2"
          >2</label
        >
      </li>
      <li>
        <input id="color3" type="radio" name="consistency" value="3" /><label
          for="color3"
          >3</label
        >
      </li>
      <li>
        <input id="color4" type="radio" name="consistency" value="4" /><label
          for="color4"
          >4</label
        >
      </li>
    </ul>
  </div>
  <div class="form__group radio">
    <h3>How do you rate your rubber duck logo?</h3>
    <ul>
      <li>
        <input id="logo1" type="radio" name="consistency" value="1" /><label
          for="logo1"
          >1</label
        >
      </li>
      <li>
        <input id="logo2" type="radio" name="consistency" value="2" /><label
          for="logo2"
          >2</label
        >
      </li>
      <li>
        <input id="logo3" type="radio" name="consistency" value="3" /><label
          for="logo3"
          >3</label
        >
      </li>
      <li>
        <input id="logo4" type="radio" name="consistency" value="4" /><label
          for="logo4"
          >4</label
        >
      </li>
    </ul>
  </div>
  <div class="form__group">
    <h3>How do you like to spend time with your rubber duck</h3>
    <ul>
      <li>
        <label
          ><input name="spendingTime" type="checkbox" value="colour" />It's
          Swimming!</label
        >
      </li>
      <li>
        <label
          ><input name="spendingTime" type="checkbox" value="sound" />It
          Bathing!</label
        >
      </li>
      <li>
        <label
          ><input name="spendingTime" type="checkbox" value="logo" />It has a
          Chatting!</label
        >
      </li>
      <li>
        <label
          ><input name="spendingTime" type="checkbox" value="size" />I don't
          like to spend time with my rubber duck!</label
        >
      </li>
    </ul>
  </div>
  <label
    >What else have you got to say about your rubber duck?<textarea
      name="review"
      cols="30"
      rows="10"
    ></textarea></label
  ><label
    >Put your name here (if you feel like it):<input
      type="text"
      name="username"
      value="" /></label
  ><label
    >Leave us your email pretty please??<input
      type="email"
      name="email"
      value="" /></label
  ><input class="form__submit" type="submit" value="Submit Survey!" />
</form>
